[Desktop Entry]
Name=Canfield
Comment=Ace of Penguins Canfield clone
Exec=canfield
Terminal=false
Type=Application
Encoding=UTF-8
Categories=Application;Game;
X-Desktop-File-Install-Version=0.12
Icon=ace.png
