[Desktop Entry]
Name=Freecell
Comment=Ace of Penguins Freecell clone
Exec=freecell
Terminal=false
Type=Application
Encoding=UTF-8
Categories=Application;Game;
X-Desktop-File-Install-Version=0.12
Icon=ace.png
