[Desktop Entry]
Name=Mastermind
Comment=Ace of Penguins Mastermind clone
Exec=mastermind
Terminal=false
Type=Application
Encoding=UTF-8
Categories=Application;Game;
X-Desktop-File-Install-Version=0.12
Icon=ace.png
