[Desktop Entry]
Name=Merlin
Comment=Ace of Penguins Merlin clone
Exec=merlin
Terminal=false
Type=Application
Encoding=UTF-8
Categories=Application;Game;
X-Desktop-File-Install-Version=0.12
Icon=ace.png
