[Desktop Entry]
Name=Minesweeper
Comment=Ace of Penguins Minesweeper clone
Exec=minesweeper
Terminal=false
Type=Application
Encoding=UTF-8
Categories=Application;Game;
X-Desktop-File-Install-Version=0.12
Icon=ace.png
